.news_card{
  position: relative;
  max-width: 700px;
  margin: 10px;
  padding: 15px;
  display: flex;
  cursor: pointer;
}

/* border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;

.news_card:hover{
  border: 1px solid #777;
  opacity: 0.9;
} */
/* rgb(26, 40, 168) */
.news_card:hover .title{
  color: rgba(26, 40, 168);
}

.news_image{
  max-width: 150px;
  flex: 0 0 150px;
  display: flex;
  justify-content: center;
}

.news_image img{
  max-width: 100%;
  border-radius: 4px;
}

.news_text{
  margin-left: 20px;
}

.description{
  margin-top: 10px;
}

.extraLength{
  font-size: 0.9em;
  font-weight: bold;
}
/* 
@media screen and (max-width: 600px){
  .news_card{
    flex-direction: column;
    max-width: 380px;
  }

  .news_image{
    max-width: 100%;
  }

  .headline{
    margin-top: 10px;
  }

  .news_text{
    margin-left: 0px;
  }
  
}
 */