.navbar {
	width: 100%;
	height: 60px;
	padding: 0.5rem;
	z-index: 10;
	background: rgb(10, 48, 66);
	font-size: 1.07em;
}

.navbar-logo img {
	width: 120px;
}

.navbar-search {
	margin-left: 50px;
	width: 100%;
}

.nav-menu {
	display: flex;
	white-space: nowrap;
	margin-right: -22px;
	align-items: center;
	justify-content: center;
}

.nav-item a {
	margin-left: 15px;
	color: rgb(255, 255, 255);
	cursor: pointer;
}

.nav-item .active {
	color: #92f3a9;
}

.nav-login-page {
	font-size: 1.3rem;
}
