.index-parent{
    display: grid;
    justify-items: center;  
    background: rgb(248, 248, 248);
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.container{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 8.35rem;
    padding: 10px;
    margin: 0 9px;
    gap: 0.5rem;
}

.child-container{
    display: grid;
    grid-auto-flow: column;
    cursor: pointer;
    border: solid 1px #dadce0;
    background: white;
    border-radius: 5px;
    font-size: 11.5px;
    padding: 5px;
    scroll-snap-align: start;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
}

.child-container:hover{
    background: rgb(243, 243, 243);
}

.scroll-snap{
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 12px;
}

.first-part{
    text-align:left;
}

.second-part{
    text-align:right;
}

.negative{
    color: rgb(185, 0, 0);
    font-weight: 500;
}

.positive{
    color: rgb(1, 133, 1);
    font-weight: 500;
}

.symbol{
    font-weight: bold;
}
/* 
@media screen and (max-width: 850px){
    .scroll-snap{
        -ms-overflow-style: none;  IE and Edge 
        scrollbar-width: none; Hide scrollbar for IE, Edge and Firefox
    }

    .scroll-snap::-webkit-scrollbar {
        display: none;
    }
    
}

@media screen and (max-width: 500px){
    .container{
        margin: 0px;
    }
} */
/*
.container{
    background: rgb(248, 248, 248);
    display: flex;
    flex-direction: row;
    padding: 15px;
    gap: 1rem;
}

.child-container{
    border: solid 1px lightgrey;
    background: white;
    border-radius: 5px;
    font-size: 0.8rem;
    padding: 5px;
}

.child-container:hover{
    background: rgb(243, 243, 243);
}

.first-part, .second-part{
    display: flex-end;
    
    padding: 0 8px; 
}

.first-part{
    float: left;
}

.second-part{
    float: right;
}

.symbol{
    font-weight: bold;
}
*/